/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
html,
body,
#contents,
#map_canvas {
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/screen.scss */
body {
  padding-top: 52px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
.infoWindow {
  min-width: 150px;
  overflow: hidden;
}
/* line 23, ../sass/screen.scss */
.infoWindow h1 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
/* line 29, ../sass/screen.scss */
.infoWindow dl dt {
  position: absolute;
  font-weight: bold;
}
/* line 33, ../sass/screen.scss */
.infoWindow dl dd {
  margin: 0 0 4px 4em;
}
/* line 35, ../sass/screen.scss */
.infoWindow dl dd:before {
  content: ":";
  margin: 0 5px;
}

/* line 42, ../sass/screen.scss */
.gm-style-iw + div {
  top: 6px !important;
  right: 5px !important;
}

/* line 1, ../sass/modules/_header.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 52px;
}
/* line 8, ../sass/modules/_header.scss */
#header .navbar-brand {
  padding-right: 0 !important;
}

/* line 1, ../sass/modules/_footer.scss */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}
/* line 7, ../sass/modules/_footer.scss */
#footer .pager li {
  margin: 0 5px;
}
/* line 9, ../sass/modules/_footer.scss */
#footer .pager li span {
  display: inline-block;
  min-width: 5em;
}

/* loading
**************************************/
/* line 3, ../sass/modules/_loading.scss */
#loadingArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 12, ../sass/modules/_loading.scss */
#loadingArea p {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.6em;
  width: 100%;
  color: #fff;
  text-align: center;
}
/* line 20, ../sass/modules/_loading.scss */
#loadingArea p:before {
  margin-right: 5px;
  content: url(../img/loading.gif);
  vertical-align: middle;
}
